:root {
  --diff-line-padding: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  margin: 0;
  padding: 0;
}

.diff-container {
  margin: 10px;
  font-size: 0.8em;
}

.diff-file {
  margin-bottom: 10px;
  border: solid 1px lightgray;
}

.diff-header {
  display: flex;
  color: white;
  background-color: #00a1ffff;
  padding: var(--diff-line-padding);
}

.diff-column {
  display: inline-block;
  flex: 1;
}

.diff-hunk {
  display: flex;
  border-bottom: solid 1px lightgray;
}

.diff-normal {
  flex: 1;
  display: inline-block;
  line-height: 1;
  padding: var(--diff-line-padding);
  overflow: clip;
}

.diff-insert {
  flex: 1;
  display: inline-block;
  color: blue;
  line-height: 1;
  padding: var(--diff-line-padding);
  overflow: clip;
}

.diff-delete {
  flex: 1;
  display: inline-block;
  color: red;
  line-height: 1;
  padding: var(--diff-line-padding);
  overflow: clip;
}

.diff-left {
  border-right: solid 1px lightgray;
}
